---
- name: Install podman
  ansible.builtin.dnf:
    name: podman
  when: ansible_os_family == 'RedHat'

- name: Install podman
  ansible.builtin.apt:
    name: podman
  when: ansible_os_family == 'Debian'

- name: Ensure keycloak data dir exists
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0750"
    recurse: true
    state: directory
  with_items:
    - /var/lib/keycloak/pgwal
    - /var/lib/keycloak/pgdata

- name: Create keycloak network
  ansible.builtin.copy:
    dest: /etc/containers/systemd/keycloak.network
    mode: "0640"
    content: |
      [Network]
      NetworkName=keycloak

- name: Install postgers for keycloak
  ansible.builtin.copy:
    dest: /etc/containers/systemd/keycloak-pg.container
    mode: "0640"
    content: |
      [Unit]
      Description=postgresql for keycloak

      [Install]
      WantedBy=default.target

      [Container]
      Image=docker.io/postgres:18-alpine
      ContainerName=keycloak-pg
      Network=keycloak.network
      Volume=/var/lib/keycloak/pgwal:/pgwal:U,rw,Z
      Volume=/var/lib/keycloak/pgdata:/pgdata:U,rw,Z
      Environment=POSTGRES_DB=keycloak
      Environment=POSTGRES_USER=keycloak
      Environment=POSTGRES_PASSWORD=keycloak123
      Environment=PGDATA=/pgdata
      Environment=POSTGRES_INITDB_WALDIR=/pgwal

      [Service]
      Restart=on-failure

- name: Install keycloak
  ansible.builtin.copy:
    dest: /etc/containers/systemd/keycloak.container
    mode: "0640"
    content: |
      [Unit]
      Description=keycloak

      [Install]
      WantedBy=default.target

      [Container]
      Image=quay.io/keycloak/keycloak:26.4
      ContainerName=keycloak
      Exec=start
      Network=keycloak.network
      PublishPort=127.0.0.1:8080:8080
      Environment=KC_HTTP_ENABLED=true
      Environment=KC_HOSTNAME_STRICT=false
      Environment=KC_PROXY_PROTOCOL_ENABLED=true
      Environment=KC_DB=postgres
      Environment=KC_DB_USERNAME=keycloak
      Environment=KC_DB_PASSWORD=keycloak123
      Environment=KC_DB_URL_HOST=keycloak-pg
      Environment=KC_BOOTSTRAP_ADMIN_USERNAME=admin
      Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      Environment=KC_FEATURES=token-exchange,admin-fine-grained-authz

      [Service]
      Restart=on-failure

- name: Ensure all services started
  ansible.builtin.systemd_service:
    name: "{{ item }}"
    state: started
    daemon_reload: true
  with_items:
    - keycloak
    - keycloak-pg
